


/* all */
[v-cloak]{
  display: none;
}

@font-face{
  font-family: 'ADAM.CG PRO', sans-serif;
  src: url('../fonts/ADAM.CG PRO.otf');
}

.test-font{
  font-family: 'ADAM.CG PRO', sans-serif;
}
.alert-danger{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.all_content{
  margin-top: 150px;
}

.btn-primary {
    color: #fff;
    background-color: #00BCD4;/* color */
    border-color: #0398B0;/* color */
}

.btn-primary:hover,.btn-primary:active, .btn-primary:focus,.btn-primary:visited{
    color: #fff;
    background-color: #0398B0!important;
    border-color: #0398B0!important;
}


/* nav */

.mainlogo{
  width: 19px;
  position: absolute;
  top: 33px;
  left: 95px;
}

.navbar-brand{
  margin-top: 15px;
  margin-left: 1px!important;
  border: 2px solid #00BCD4;
  border-radius: 10px;
}

.one_logo{
  color: #00BCD4;
  font-family: 'Bevan', cursive;
}

.two_logo{
  color: #00BCD4;
  margin-left: 30px;
}

.btn-nav{
 margin-top: 10px;
}

.nav-search{
  text-align: center;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #00BCD4; /* color */
    color:#fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #d3e0e9;
    background: #fff;
}

.navbar-default .navbar-collapse{
  padding-top: 15px;
}

/* Main */
.top_button,
.top_button:active,
.top_button:focus {
    outline: none;
    border: none;
    background: white;
    text-align: left;
}


.top_profiles{
  position: absolute;
  right: 10px;
}

.top_prof{
  margin-bottom: 30px;
  margin-left: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  width: 180px;
}

.top_text{
  padding-left: 5px;
  color: #0091A9;
}

 .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.div_like{
  text-align: left;
}

.div_comment{
  text-align: center;
}

.div_tags{
  text-align: right;
}

.i_all_comment{
  color: #0091A9;
}

.public_tags{
  color: #0091A9;
  font-weight: bold;
}
.public_like{
  background-color: white;
}

.public_comment{
  background-color: white;
}

.my_button,
.my_button:active,
.my_button:focus {
    outline: none;
    border: none;
}

.public_like_number{
  margin-left: 5px;
  color: #727272;
  font-weight: bold;
}

.public_comment_number{
  color: #727272;
  font-weight: bold;
}
.fa-heart{
  color: #F95D5D;
}

.content_block{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.content_head{
  color: #00BCD4;
  font-weight: bold;
  height: 25px;
  padding-top: 12px;
}

.list-group-item{
  background-color: #00BCD4!important; /* color */
}
.content_block{
  margin-top: 50px;
  background: white;
  width: 45%;
  min-width: 300px;
}

.content_img{
  width: 100%;
}

.content_text{
  margin-top: 20px;
  margin-left: 15px;
  color: #727272;
}

.content-tag{
 margin-left: 100px;
}

.public_tags_list{
  margin-bottom: 10px;
}

.content_footer{
  margin-top: 15px;
}
.content_date{
  position: absolute;
  right: 15px;
}



.add_comment{
  margin-top: 20px;
}

/* Comment */
.i_comment{
  position: absolute;
  right: 5px;
  margin-top: 15px;
  background-color: white;
}

i{
  cursor: pointer;
}

.comment{
  position: relative;
}

.comment_text{
  margin-top: 7px;
}


.comment_user_style{
  color: #00BCD4;
}

/* Add publication */
.chosen-container-multi .chosen-choices{
  outline: 0;
  background: transparent !important;
  color: #B1B7BA;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;

  font-size: 14px!important;
  line-height: 1.6!important;
  color: #555!important;
  min-height: 36px!important;
  padding: 3px 12px!important;
  background-color: #fff!important;
  border: 1px solid #ccd0d2!important;
  border-radius: 4px!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
}

.add_pub_button{
  margin-top: 18px;
}

.form-group-add{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%!important;
}

.image_hide{
  display: none!important;
}

.video_hide{
  display: none;
}

#iimg_pick{
  display: block!important;
}

#vvideo_pick{
  display: block;
}

.before-choise-non{
  display: none;
}
/* Add profile*/
.add_profile_textarea{
  width: 100%;
}

/* Profile */
.profiles_block{
  margin-top: 70px;
  text-align: center;
}

.profiles_search{
  text-align: center;
}

.profiles_sort{
  text-align: center;
}

.profile_img{
  height: 120px;
  width: 140px;
}

.profile_info{
  margin-top: 20px;
}

.profile_stat{
  margin-top: 20px;
}

.profile_action{
  margin-top: 20px;
}

.profile_subscribe{
  margin-top: 27px;
}

.profile_subscribes{
  color: #0DA25E;
  font-size: 16px;
}

.subscribe_number{
  color: #727272;
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
}

.profile-edit{
  color: #CA7000;
  font-size: 16px;
}

.profile-edit:hover, .profile-edit:active, .profile-edit:focus{
  color: #FF8818;
}

.profile-delete:hover, .profile-delete:active, .profile-delete:focus{
  color: #FF1B2F;
}

.profile-delete{
  margin-left: 10px;
  font-size: 16px;
  color: #A80909;
}
/* Tags */
.chosen-select{
  width: 80%;
}



/* all */
.sort{
  margin-top: 70px;
  text-align: center;
}

/* my profiles */

.my_profiles_new{
  text-align: center;
}


/* settings */

.fa-users,.fa-cog,.fa-user-times{
  color: #0091A9;
}

.fa-id-card-o{
  color: #B69400;
}
.drop-main-menu li>a:hover{
  background-color: #00BCD4!important;
  color: white;
}

.button_text{
  font-weight: bold;
  background-color: white;
}

.statistic-main i{
  margin-right: 5px;
}

.setting_circle{
  font-size: 16px!important;
}

li{
    list-style-type: none!important;
}

.settings-main{
  text-align: center;
}

.settings-main input{
  width: 250px;
}


/* statistic */
.statistic-main{
  margin-top: 100px;
}
.statistic-main p{
  width: 250px;
  margin: 20px auto;
}

/*create profile */
.create_profile_file{
  margin-top: 20px;
  margin-bottom: 20px;
}
 /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}


/* Preloader */
.page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}

.cssload-thecube {
  z-index: 100501;
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 30%;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(43,160,199);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}
